<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= "Message from controller is : 
    #{@controller_message}"
    =%>
    <br/>
        <% if(params.has_key?(:id) && params.has_key?(:random)) %>
<%= "ID : #{@id_2} " =%>
<br/>
<%= "Random : #{@random_2} " =%>
<br/>
<% end %>
    
    
    <%= link_to("Go to Index",
    {  :action => 'index', 
       :id => 5, :random => "Vijeta"
    }) =%>
    
